#app {
  display: flex;
  flex-direction: row;
}
#filters {
  height: 200px;
  display: flex;
  gap: 10px;
  background-color: bisque;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}

#div-products {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  padding: 20px;
  width: 20vw;
}

.product:hover {
  background-color: blue;
}

@media screen and (max-width: 768px) {
  #filters {
    width: 100vw;
  }
  #div-products {
    width: 100vw;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
}
